services:
  db:
    image: mysql:8.0
    platform: linux/amd64
    environment:
      MYSQL_DATABASE: chatapp
      MYSQL_USER: app_user
      MYSQL_PASSWORD: DeinPasswort123!
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: